<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
      <!--about us section starts from here  -->
      <div class="container-fluid mt-5 about-style" id="aboutid" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About us</h1>
                <p class="text-center sub-heading">Grow your BUSINESS with us</p>
                <div class="row">
                      <!--right side  -->
                      <div class="col-md-6 hero-text ">
                        <figure>
                            <img src="image/about us.png" alt="hero-text " style="height: 60vh; width: 80%; right: 20px;" >
                        </figure>
                        
                    </div>
                    <div class="col-md-6 hero-text d-flex justify-content align-itmes-start flex-column ">
                        <h1>WE ARE THE   <span style="color: rgb(61, 61, 240);">TEAM</span> OF <span class="bold-style">Profssional Developer</span> </h1>
                        <p>Welcome To <span class="bold-style">RASHMI</span>
                        , your Number Once Source For All Things. we're Dedicated To Given
                        You The Very Best Of Work, With A Focus On [Three Charecteristics, Ie:Dependablity,
                        Customer Service And Uniqueness.]
                        </p>
                        <button class="btn-style btn-primary">READ MORE </button>
                    </div>
               
                </div>
            </div>
        </div>
    </div>

    <!-- about us section ends from here --> 
</body>
</html>